/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Tapestry&display=swap');

/*Colors palette*/
/* CSS HEX 
--oriental-pink: #c59d82;
--shark: #1c1c22;
--dark-burgundy: #670707;
--tamarillo: #8a1513;
--sandal: #a08169;
--mahogany: #4d0606;
--shiraz: #b60c15;
--bazaar: #947474;
--cape-cod: #505151;
--gravel: #48444c;
*/

/*CSS variables*/

:root {
    --primary-font: "Delius Swash Caps", cursive;
    --secondary-font: "Tapestry", sans-serif;
    --primary-color: #c59d82; /*oriental-pink*/
    --secondary-color: #8a1513; /*tamarillo*/
    --heading-color:#670707; /*dark-burgundy*/
}

/*Global styles*/

h1 {
    color: var(--heading-color);
    font-family: var(--secondary-font);
}

body{
    background-color: var(--primary-color);}

    /*Navbar */
.navbar-nav {
    font-family: var(--primary-font);
    font-size: larger;
    
}
.navbar-brand {
    margin-right: 0%;
}
.navbar {
    background-color: var(--primary-color);
    padding: 0;
    margin: 20px;
}
#video-top {
    padding:20px;
}
.vd-head {
    color: var(--heading-color);
    font-family: var(--secondary-font);
}

/*.custom-button {
    background-color: var(--heading-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button:hover {
    background-color: var(--secondary-color);
    color: #947474;
}*/

/* ExtraSmall screens and up */
@media screen and (min-width: 320px) {
    .navbar-heading {
        font-size: 8vw;
    }
    .mob-size, .mob-size * {
        flex-wrap: nowrap;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .navbar-heading {
        font-size: 7vw;
    }
    .screen-size, .screen-size * {
        max-width: 95vw;
    }
    
    }

   /* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    .screen-size, .screen-size * {
        max-width: 95vw;
    }
    .navbar-heading {
        font-size: 5vw;
    }
    
}
/* Extra Large devices (extra large screens, 2560px and up) */
@media screen and (min-width: 2560px) {
    .navbar-heading {
        font-size: 3vw;
    }
    .screen-size, .screen-size * {
        max-width: 95vw;

    }
}
